body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-image: url('bg.jpg');
    background-size: 100% 100%;
}

    .container h1 {
        font-family: 'Playfair Display', serif;
        font-size: 60px;
        text-align: center;
        color: #666;
        font-weight: lighter;
        margin: 0;
        position: absolute;
        left: 40%;
        top: 60px;
    }

.line-1 {
    position: absolute;
    width: 60%;
    top: 140px;
    left: 20%;
}

.container .header1 {
    color: white;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 145px;
    left: 21%;
}

.container .p1 {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    position: absolute;
    top: 180px;
    left: 21%;
}

.line-2 {
    position: absolute;
    width: 60%;
    top: 225px;
    left: 20%;
}

.container .header2 {
    color: white;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 230px;
    left: 21%;
}

.container .p2 {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    position: absolute;
    top: 270px;
    left: 21%;
}

.line-3 {
    position: absolute;
    width: 60%;
    top: 335px;
    left: 20%;
}

.container .header3 {
    color: white;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 340px;
    left: 21%;
}

.container .p3 {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    position: absolute;
    top: 375px;
    left: 21%;
}

.line-4 {
    position: absolute;
    width: 60%;
    top: 445px;
    left: 20%;
}

.container .header4 {
    color: white;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 450px;
    left: 21%;
}

.container .p4 {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    position: absolute;
    top: 485px;
    left: 21%;
}

.line-5 {
    position: absolute;
    width: 60%;
    top: 595px;
    left: 20%;
}
