body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    width: 100%;
}

    .container .sec-1 {
        height: 100vh;
        width: 100%;
        background: linear-gradient(135deg, #a80077 40%,#c146a1 67%,#cb60b3 100%,#cb60b3 100%,#db36a4 100%);
    }

        .container .sec-1 .main-img {
            top: 20%;
            left: 5%;
            height: 350px;
            width: 500px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        .container .sec-1 .icon {
            top: -25%;
            left: 32%;
            height: 380px;
            width: 170px;
            position: absolute;
        }

        .container .sec-1 h1 {
            font-family: 'Playfair Display', serif;
            font-size: 50px;
            text-align: center;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            position: absolute;
            top: 250px;
            left: 45%;
        }

        .container .sec-1 p {
            font-family: 'Lato';
            font-size: 20px;
            font-weight: 300;
            color: #fff;
            top: 310px;
            left: 45%;
            position: absolute;
        }

    .container .sec-2 {
        height: 100vh;
        width: 100%;
        background: linear-gradient(200deg, #3b679e 45%,#7db9e8 100%);
    }

        .container .sec-2 .main-img {
            top: 118%;
            right: 5%;
            height: 350px;
            width: 500px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        .container .sec-2 .icon {
            top: 100vh;
            left: 50%;
            height: 380px;
            width: 170px;
            position: absolute;
            transform: rotate(55deg);
        }

        .container .sec-2 h1 {
            font-family: 'Playfair Display', serif;
            font-size: 27px;
            line-height: 27px;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            position: absolute;
            top: 120vh;
            left: 5%;
        }

        .container .sec-2 p {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 125vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-2 .p1 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 132vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-2 .p2 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 139vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-2 .p3 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 146vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-2 .p4 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 153vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-2 .p5 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 160vh;
            left: 5%;
            position: absolute;
        }

    .container .sec-3 {
        height: 100vh;
        width: 100%;
        background: linear-gradient(135deg, #a80077 40%,#c146a1 67%,#cb60b3 100%,#cb60b3 100%,#db36a4 100%);
    }

        .container .sec-3 .main-img {
            top: 215vh;
            left: 5%;
            height: 350px;
            width: 500px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        .container .sec-3 .icon {
            top: 200vh;
            left: 38%;
            height: 380px;
            width: 170px;
            position: absolute;
        }

        .container .sec-3 h1 {
            font-family: 'Playfair Display', serif;
            font-size: 27px;
            line-height: 27px;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            position: absolute;
            top: 225vh;
            left: 50%;
        }

        .container .sec-3 p {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 232vh;
            left: 50%;
            position: absolute;
        }

        .container .sec-3 .p1 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 239vh;
            left: 50%;
            position: absolute;
        }

        .container .sec-3 .p2 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 246vh;
            left: 50%;
            position: absolute;
        }

        .container .sec-3 .p3 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 253vh;
            left: 50%;
            position: absolute;
        }

    .container .sec-4 {
        height: 100vh;
        width: 100%;
        background: linear-gradient(200deg, #3b679e 45%,#7db9e8 100%);
    }

        .container .sec-4 .main-img {
            top: 318%;
            right: 5%;
            height: 350px;
            width: 500px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        .container .sec-4 .icon {
            top: 300vh;
            left: 50%;
            height: 380px;
            width: 170px;
            position: absolute;
            transform: rotate(55deg);
        }

        .container .sec-4 h1 {
            font-family: 'Playfair Display', serif;
            font-size: 27px;
            line-height: 27px;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            position: absolute;
            top: 330vh;
            left: 5%;
        }

        .container .sec-4 p {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 335vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-4 .p1 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 339vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-4 .p2 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 343vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-4 .p3 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 349vh;
            left: 5%;
            position: absolute;
        }

    .container .sec-5 {
        height: 100vh;
        width: 100%;
        background: linear-gradient(135deg, #a80077 40%,#c146a1 67%,#cb60b3 100%,#cb60b3 100%,#db36a4 100%);
    }

        .container .sec-5 .main-img {
            top: 420%;
            left: 5%;
            height: 350px;
            width: 500px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        .container .sec-5 .icon {
            top: 400vh;
            left: 38%;
            height: 380px;
            width: 170px;
            position: absolute;
        }

        .container .sec-5 h1 {
            font-family: 'Playfair Display', serif;
            font-size: 27px;
            line-height: 27px;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            position: absolute;
            top: 440vh;
            left: 50%;
        }

        .container .sec-5 p {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 445vh;
            left: 50%;
            position: absolute;
        }

        .container .sec-5 .p1 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 452vh;
            left: 50%;
            position: absolute;
        }

    .container .sec-6 {
        height: 100vh;
        width: 100%;
        background: linear-gradient(200deg, #3b679e 45%,#7db9e8 100%);
    }

        .container .sec-6 .main-img {
            top: 518%;
            right: 5%;
            height: 350px;
            width: 500px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        .container .sec-6 .icon {
            top: 500vh;
            left: 50%;
            height: 380px;
            width: 170px;
            position: absolute;
            transform: rotate(55deg);
        }

        .container .sec-6 h1 {
            font-family: 'Playfair Display', serif;
            font-size: 27px;
            line-height: 27px;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            position: absolute;
            top: 530vh;
            left: 5%;
        }

        .container .sec-6 p {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 535vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-6 .p1 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 542vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-6 .p2 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 549vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-6 .p3 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 556vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-6 .p4 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 560vh;
            left: 5%;
            position: absolute;
        }

    .container .sec-7 {
        height: 100vh;
        width: 100%;
        background: linear-gradient(135deg, #a80077 40%,#c146a1 67%,#cb60b3 100%,#cb60b3 100%,#db36a4 100%);
    }

        .container .sec-7 .main-img {
            top: 620%;
            left: 5%;
            height: 350px;
            width: 500px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        .container .sec-7 .icon {
            top: 600vh;
            left: 38%;
            height: 380px;
            width: 170px;
            position: absolute;
        }

        .container .sec-7 h1 {
            font-family: 'Playfair Display', serif;
            font-size: 27px;
            line-height: 27px;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            position: absolute;
            top: 630vh;
            left: 50%;
        }

        .container .sec-7 p {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 635vh;
            left: 50%;
            position: absolute;
        }

        .container .sec-7 .p1 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 642vh;
            left: 50%;
            position: absolute;
        }

        .container .sec-7 .p2 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 646vh;
            left: 50%;
            position: absolute;
        }

        .container .sec-7 .p3 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 650vh;
            left: 50%;
            position: absolute;
        }

        .container .sec-7 .p4 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 655vh;
            left: 50%;
            position: absolute;
        }

    .container .sec-8 {
        height: 100vh;
        width: 100%;
        background: linear-gradient(200deg, #3b679e 45%,#7db9e8 100%);
    }

        .container .sec-8 .main-img {
            top: 718%;
            right: 5%;
            height: 350px;
            width: 500px;
            position: absolute;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        .container .sec-8 .icon {
            top: 700vh;
            left: 50%;
            height: 380px;
            width: 170px;
            position: absolute;
            transform: rotate(55deg);
        }

        .container .sec-8 h1 {
            font-family: 'Playfair Display', serif;
            font-size: 27px;
            line-height: 27px;
            color: #fff;
            font-weight: lighter;
            margin: 0;
            position: absolute;
            top: 730vh;
            left: 5%;
        }

        .container .sec-8 p {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 735vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-8 .p1 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 745vh;
            left: 5%;
            position: absolute;
        }

        .container .sec-8 .p2 {
            font-family: 'Lato';
            font-size: 17px;
            font-weight: 300;
            color: #fff;
            top: 750vh;
            left: 5%;
            position: absolute;
        }
